.svg-container{
    flex: 3;
    margin-right: 30px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 20px;
    @media screen and (max-width: 760px){
        margin-right: 0;
        margin-bottom: 20px; 
        padding: 15px;
    }
    .downloadLinks{
        display: flex;
        .button{    
            margin-top: 20px;
            flex: 1;
            font-size: 12px;
            margin-right: 10px;
            background: #000;
            color: #fff;
            will-change: opacity, transform;
            transition: all 0.3s ease-out;
            border: 1px #000 solid;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                background: #fff;
                color: #000;
            }
            @media screen and (max-width: 760px){
                width: 100%;
                font-size: 11px;
                padding: 0 8px;
            }
        }
    }
}