@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic");
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background: #f5f5f5; }

body * {
  box-sizing: border-box; }

.container {
  margin-top: 70px;
  display: flex;
  padding: 20px;
  justify-content: space-between; }
  @media screen and (max-width: 760px) {
    .container {
      flex-direction: column; } }

.header {
  position: fixed;
  background: #673ab7;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  height: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  z-index: 999; }

.socialIcons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .socialIcons ul {
    margin: 0;
    padding: 0; }
    .socialIcons ul li {
      float: left;
      padding-left: 20px;
      list-style: none; }
      .socialIcons ul li a {
        display: block;
        color: #fff;
        text-decoration: none; }
        .socialIcons ul li a .fa {
          font-size: 30px; }
        .socialIcons ul li a:hover {
          text-decoration: underline; }
        .socialIcons ul li a span {
          padding-left: 6px; }
          @media screen and (max-width: 760px) {
            .socialIcons ul li a span {
              display: none; } }
        .socialIcons ul li a.socialIcons__linkedIn:hover i {
          color: #007bb6; }

.svg-container {
  flex: 3;
  margin-right: 30px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 20px; }
  @media screen and (max-width: 760px) {
    .svg-container {
      margin-right: 0;
      margin-bottom: 20px;
      padding: 15px; } }
  .svg-container .downloadLinks {
    display: flex; }
    .svg-container .downloadLinks .button {
      margin-top: 20px;
      flex: 1;
      font-size: 12px;
      margin-right: 10px;
      background: #000;
      color: #fff;
      will-change: opacity, transform;
      transition: all 0.3s ease-out;
      border: 1px #000 solid; }
      .svg-container .downloadLinks .button:last-child {
        margin-right: 0; }
      .svg-container .downloadLinks .button:hover {
        background: #fff;
        color: #000; }
      @media screen and (max-width: 760px) {
        .svg-container .downloadLinks .button {
          width: 100%;
          font-size: 11px;
          padding: 0 8px; } }

.colorContainer {
  flex: 9; }
  .colorContainer .innerDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
  .colorContainer .select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #cbced0;
    height: 38px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #cbced0;
    background: #cbced0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .colorContainer .select-style:after {
      top: 50%;
      right: 2%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: transparent;
      border-top-color: #000000;
      border-width: 5px;
      margin-top: -2px;
      z-index: 100; }
    .colorContainer .select-style select {
      width: 100%;
      padding: 5px 8px;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: 17px; }
      .colorContainer .select-style select:focus {
        outline: none; }

.colorOptions {
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative; }
  @media screen and (max-width: 760px) {
    .colorOptions {
      flex: 1;
      flex-basis: 40%; } }
  .colorOptions ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0; }
    .colorOptions ul li {
      list-style: none;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
      -ms-flex-negative: 0;
      padding: 0;
      min-width: 0;
      border-radius: 50%;
      margin: 0.5em 0.5em 0.5em 0.5em;
      background-color: #000000;
      cursor: -webkit-grab;
      width: 2em;
      height: 2em;
      text-indent: -9999px; }

.button {
  width: 150px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  border: none;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: 500;
  color: currentColor;
  text-align: center;
  margin: 0;
  margin-top: 50px;
  min-width: 88px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease-out; }
  @media screen and (max-width: 760px) {
    .button {
      width: 100%; } }
  .button:hover {
    box-shadow: 1px 6px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transform: translateY(-2px); }

/*# sourceMappingURL=style.css.map */
